* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid red;  */
}

.min-margin {
    margin-bottom: 200px;
}

header {
    background-image: url('./images/banner3.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* ading styles to nev menu */

.nev-menu {
    background: linear-gradient(rgb(179, 190, 212), rgba(76, 0, 255, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nev-logo {
    border: 5px solid #FFFFFF;
    width: 55px;
    border-radius: 50%;
    box-shadow: 10px 5px 5px rgba(23, 23, 26, 0.89);
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
}

.nev-logo img {
    padding: 5px;
    width: 50px;
    height: 50px;
}

.nev-list ul li {
    list-style: none;
}

.nev-list ul li a {
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    color: #FFFFFF;
}

.nev-items {
    display: flex;
    gap: 15px;
    margin: 10px 30px;
}

/* adding banner styles */
.banner {
    text-align: right;
    color: #FFFFFF;
    margin-top: 5%;
    margin-left: 55%;
    margin-right: 5%;
    width: 40%;
    height: 75%;
}

.banner-title {
    font-size: 30px;
    font-weight: 700px;
    padding: 5px;
    margin-bottom: 10px;
}

.banner-title span {
    padding: 5px;
    color: #005FAC;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.banner-description {
    padding: 5px;
    color: #444343;
}

.banner-btn button {
    width: 100px;
    height: 45px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #005FAC;
    box-shadow: 10px 5px 5px rgba(23, 23, 26, 0.89);
}

.banner-btn button:hover {
    background-color: #005FAC;
    ;
    color: #FFFFFF;
}

/* adding pre-year acheivement section's styles */
.pre-year {
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pre-year-img img {
    width: 75%;
}

.pre-year-txt {
    width: 50%;
    text-align: left;
}

.pre-year-txt h3,
.pre-year-txt p {
    margin-bottom: 10px;
    padding: 5px;
}

.pre-year-txt p,
.pre-year-txt-list-item ul li {
    color: #444343
}

.pre-year-txt-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.pre-year-txt-list ul {
    text-align: left;

    /* used list style property to add an image as a list style  */

    list-style: url('./images/icons/correct.png');

    /* used list-style-position property to specify the position of lis style */
    list-style-position: inside;
}

.pre-year-txt-list ul li {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(23, 23, 26, 0.89);
    margin-bottom: 5px;
}

/* adding plans style  */
.plan-sec {
    text-align: center;
    margin-top: 110px;
}

.plan-sec h3 {
    margin: 70px;
}

.plans {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.plans h5 {
    color: #444343;
}

.plan1 img,
.plan2 img,
.plan3 img,
.plan4 img {
    width: 32px;
    padding: 5px;
}

/* linear background added */
.linear-bg-sec {
    width: 100%;
    height: 200px;
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linear-bg {
    background: url('./images/watch.png'),
        linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    background-size: cover;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: right;
    padding: 55px;
    width: 70%;
    height: 50%;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.linear-bg-sec-items {
    margin-top: 5px;
}

.linear-bg-sec-items h2 {
    color: #FFFFFF;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}

.linear-bg-sec-items button {
    width: 100px;
    height: 45px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: rgb(22, 97, 167);
}

/* adding footer styles */
.footer-sec {
    width: 100%;
    min-height: 100vh;
    background: #151414;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

.footer-txt {
    width: 50%;
    height: auto;
    margin: 50px 20px 20px;
    padding: 20px;
}

.footer-info h3 {
    font-size: 25px;
    font-weight: 700;
}

.footer-info p {
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px;
}

.footer-icons {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    gap: 10px;
}

.footer-form {
    width: 30%;
    padding: 10px;
    margin: 50px 20px 20px;
}

.footer-form label {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
}

.contact-mail {
    padding: 20px;
}

.contact-mail input {
    margin-top: 10px;
    padding: 10px;
    background: #151414;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid white;
    color: #FFFFFF;
}

.footer-form button {
    width: 110px;
    height: 40px;
    margin-top: 15px;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #005FAC;
    color: #FFFFFF;
}


/* what I have customized---
---favicon
---nevmenu
---hover effect in banner button 
---text decoration in banner
---added border and box shadow in pre-year-text-list
 */