*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    /* border: 5px solid red;  */
}
/* ading styles to nev menu */

.nev-menu{
    background: linear-gradient(rgb(148, 157, 185), rgba(76, 0, 255, 0)); 
    max-width: 100%;
    max-height: 35 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.nev-logo {
    border: 5px solid #FFFFFF;
    width: 55px;
    border-radius: 50%;
    box-shadow: 10px 5px 5px rgba(23, 23, 26, 0.89);
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
}
.nev-logo img{
    padding: 5px;
    width: 50px;
    height: 50px;
}
.nev-list ul li {
    list-style: none;
    text-decoration: none;
  
}
.nev-list ul li a{
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    color:#FFFFFF;
}
.nev-items{
    display: flex;
    gap: 15px;
    margin: 30px 30px ;
}